.headerPrincipal .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerPrincipal-nav {
  display: flex;
}
.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: space-around;
}
.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}
.rodapePrincipal-navMap-list {
  display: flex;
  flex-direction: column;
  height: 260px;
  flex-wrap: wrap;
}

.contenidoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link {
  display: flex;
  width: 23%;
}

@media (max-width: 1000px) {
  /* responsivo */

  .headerPrincipal .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
  }
  .headerPrincipal-nav {
    flex-direction: column;
  }
  .contenidoPrincipal-cursos {
    flex-direction: column;
  }

  .contenidoPrincipal-cursos-link {
    width: 100%;
  }

  .rodapePrincipal-navMap-list {
    height: auto;
    flex-wrap: nowrap;
  }

  .rodapePrincipal-patrocinadores .container {
    flex-direction: column;
  }

  .rodapePrincipal-contatoForm {
    width: 100%;
  }
  .rodapePrincipal-patrocinadores-list {
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .rodapePrincipal-contatoForm-fieldset {
    justify-content: center;
  }
}
