.headerPrincipal .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerPrincipal-nav{
    display: flex;
}
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-around;
}
.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    height: 260px;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos{
display: flex;
flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link{

display: flex;
width: 23%;
}